@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --main: #213555;
  --sec: #d8c4b6;
  --third: #4f709c;
  --forth: #c8b6a9;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  margin-bottom: 15px;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3{
  font-size:1rem;}

h5 {
  color: var(--sec);
}

body {
  background-color: var(--main);
  color: #f8f1f1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(85vh - 60px);
}

.container {
  background: #f8f1f1;
  border-radius: 10px;
  padding: 5px;
}

.container p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .book-ul {
  list-style-type: none;
}

.btn {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
}

ul li button.btn {
  background: #f8f1f1;
  padding: 5px;
  color: var(--third);
}

button:hover {
  border: 1px solid var(--third);
  font-weight: 600;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

#form input {
  margin: 5px 0;
  width: 315px;
  height: 20px;
  padding: 5px;
  border-radius: 8px;
}

#form input:focus-visible {
  outline: var(--third) auto 1px;
  border-radius: 5px;
}

#form button {
  background-color: var(--third);
  color: #fff;
  align-self: end;
  padding: 10px;
}

#form button:focus,
#form button:hover {
  background-color: var(--sec);
  color: #fff;
  border: 1px solid var(--main);
}

ul li {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  min-height: 40px;
  padding: 5px;
  color: #fff;
}

ul {
  padding: 0;
  background-color: var(--third);
  margin-block: 4px;
  border-radius: 5px;
}

header {
  display: flex;
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 15px;
}

nav ul {
  display: flex;
  background-color: var(--main);
  justify-content: center;
}

.contact-information ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f1f1;
  box-shadow: 0 3px 2px black;
}

.container ul:nth-child(even) {
  background-color: var(--forth);
}

.line {
  height: 2px;
  background-color: var(--third);
  width: 200px;
  border-radius: 2.5px;
  margin-block: 20px;
}

nav ul li {
  display: flex;
  width: fit-content;
  background-color: var(--main);
  justify-content: center;
  font-size: 0.9rem;
  margin: 5px;
  margin-right: 0;
}

.contact-information li {
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.contact-information a {
  text-decoration: none;
  color: var(--main);
  display: flex;
  cursor: pointer;
}

nav > ul li:hover {
  color: var(--sec);
  cursor: pointer;
}

nav > ul li.active {
  color: var(--sec);
  cursor: pointer;
}

section {
  margin-top: 100px;
  transition: all 0.5s ease;
}

section[data-visible="false"] {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 15px;
}

footer a:hover {
  text-decoration: none;
  color: var(--third);
  transform: translateY(-10px);
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-information p {
  padding-bottom: 15px;
  color: var(--sec);
  font-size: 12px;
}

.container p a {
  color: #f49543;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 5px;
}

.contact-information a:hover {
  text-decoration: none;
  color: var(--third);
  transform: scale(1.3);
}

.time {
  font-size: 12px;
  align-self: end;
  padding-right: 15px;
}

.pop-win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px 0;
}

.msg-win {
  margin: auto;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--third);
  box-shadow: 0 3px 2px black;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 1.4rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
  }

  ul li {
    width: 600px;
  }

  nav ul li {
    font-size: 1.1rem;
  }

  nav > ul li.active {
    color: var(--sec);
    cursor: pointer;
  }

  .contact-information li {
    width: 150px;
  }

  .contact-information p {
    font-size: 17px;
  }

  .time {
    font-size: 14px;
    align-self: end;
    padding-right: 25px;
  }
}
